* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: 'Fuente1';
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    background: linear-gradient(45deg, rgb(138, 157, 212), #2ecc71);
    animation: gradientAnimation 10s infinite alternate;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

nav {
    text-align: center;
    color: #252323;
    word-spacing: 100px; /* Ajustado el espaciado entre las palabras */
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px; /* Reducido el margen entre los elementos de la lista */
}

nav a {
    text-decoration: none;
    color: #252323;
    font-weight: bold;
}

header {
    text-align: center;
}

img {
    max-width: 100%; /* Hacer que la imagen sea responsive */
    height: auto;
    margin-bottom: 10px;
}

#subtitulo {
    margin-top: -60px;
}

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

@font-face {
    font-family: 'Fuente1';
    src: url('Fuentes/Over There.ttf') format('truetype');
}



@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

h2 {
    font-weight: bold;
    color: #252323;
}

a:hover {
    font-size: 18px;
}

/* Agregado un estilo básico para hacer responsive el menú de navegación en pantallas pequeñas */
@media only screen and (max-width: 600px) {
    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
        
    }
}

